div#newGamePage.page
  div#newGameCont.centeredCont
    h1 New Game
    p Game type:
    div.newGameButtons
      div#gt_online.button Online Duel
      div#gt_local.button Local Duel
      div#gt_solo.button Practice
    p Board size:
    div.newGameButtons
      div#bs_10.button 10x10
      div#bs_25.button 25x25
      div#bs_50.button 50x50
    div#newGameStartButton.button Start
