* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html {
	background-color: #E0E0E0;
}

#navbar {
	width: 100%;
	height: 65px;
	background-color: #D2D2D2;
}

#navTitle {
	font-size: 18px;
	padding: 20px;
}

#gameBoard {
	margin-top: 40px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 500px;
	height: 500px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 18px;
	height: 18px;
	border: 1px grey solid;
	background-color: #EDEDED;
}

.button {
	background-color: #C4C4C4;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	min-width: 60px;
}

#roundCtrCont {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 5px;
}

#scoreboard {
	margin: 15px 0px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.playerGroup {
	display: flex;
}

.playerScore {
	font-size: 18pt;
}

.playerUsername {
	margin: 0px 5px;
	margin-top: 4.5pt;
}

#switch-container {
	width: 65px;
	height: 30px;
	background-color: #C4C4C4;
	border-radius: 30px;
	margin: 0px 100px;
}

#switchHandle {
	width: 24px;
	height: 24px;
	background-color: #3E7CF3;
	border-radius: 12px;
	margin-top: 3px;
	margin-left: 4px;
}

input:checked + label #switchHandle {
	transform: translateX(30px);
	background-color: red;
}

#controls {
	display: flex;
	justify-content: center;
}

#controls div {
	margin: 10px 10px;
}


