* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html {
	background-color: #E0E0E0;
}

nav {
	width: 100%;
	background-color: #D2D2D2;
	display: flex;
	justify-content: space-between;
}

#navTitle {
	font-size: 18px;
	padding: 20px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#navRight {
	display: flex;
	padding-right: 15px; /* Not sure why the 15 looks more even than 10 */
}

#navRight p {
	font-size: 16px;
	padding: 20px 10px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

footer {
	width: calc(100% - 40px);
	padding: 20px;
	position: absolute;
	bottom: 0;
}

footer a {
	padding: 0 10px;
	text-decoration: none;
	color: black;
}
footer a:hover {
	color: #424242;
}

#gameBoard {
	margin-top: 40px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 495px;
	height: 495px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 31px;
	height: 31px;
	border: 1px grey solid;
	background-color: #EDEDED;
}

.button {
	background-color: #C4C4C4;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	min-width: 60px;
}

#roundCtrCont {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 5px;
}

#scoreboard {
	margin: 15px 0px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.playerGroup {
	display: flex;
}

.playerScore {
	font-size: 18pt;
}

.playerUsername {
	margin: 0px 5px;
	margin-top: 4.5pt;
}

#switch-container {
	width: 65px;
	height: 30px;
	background-color: #C4C4C4;
	border-radius: 30px;
	margin: 0px 100px;
}

#switchHandle {
	width: 24px;
	height: 24px;
	background-color: #3E7CF3;
	border-radius: 12px;
	margin-top: 3px;
	margin-left: 4px;
}

input:checked + label #switchHandle {
	transform: translateX(33px);
	background-color: red;
	transition: 0.1s;
}

input + label #switchHandle {
        transform: translateX(0px);
        background-color: blue;    
        transition: 0.1s;
}

#controls {
	display: flex;
	justify-content: center;
}

#controls div {
	margin: 10px 10px;
}

.centeredCont {
	margin: auto;
	margin-top: 10px;
	padding: 15px;
	max-width: 800px;
}

#rulesCont p,ol {
	margin-top: 1em;
}

#rulesCont ol {
	margin-left: 2em;
}

#newGameCont {
	margin-top: 30px;
	max-width: 430px;
}

#newGameCont h1, .newGameButtons {
	margin-bottom: 30px;
}

.newGameButtons {
	display: flex;
}

.newGameButtons div {
	width: 100px;
	margin: 5px;
}

#newGameStartButton {
	margin-top: 10px;
	width: 50px;
	background-color: #5CB85C;
}

.page {
	display: none;
}

/* default game */
#underBoard {
	width: 500px; /* Should be resized by js to fit the board size. Or have it's container be resized */
	margin: auto;
}


#underBoardUpper, #underBoardLower {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

#submitMoveButton {
	width: 70px;
	margin: auto;
	margin-top: 15px;
}

#roundGroup {
	display: flex;
}
