/* 404 page */
#err404Cont {
        margin-top: 40px;
        text-align: center;
}
#err404Title {
        font-size: 24pt;
}
#err404Desc {
        margin: 20px 0;
}
#err404Button {
        width: 70px;
        margin-left: 50%;
        transform: translate(-50%, 0);
}
