#gameContainer {
        margin-top: 40px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        width: 495px;
        height: 495px;
}

#gameBoard{
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
}

.cell {
        width: 31px;
        height: 31px;
        border: 1px var(--grid-color) solid;
        background-color: #EDEDED;
}

.p1Cell {
  background-color: var(--p1-color);
}

.p2Cell {
  background-color: var(--p2-color);
}

#roundCtrCont {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5px;
}

#scoreboard {
        margin: 15px 0px;
        display: flex;
        width: 100%;
        justify-content: center;
}

.playerGroup {
        display: flex;
}

.playerScore {
        font-size: 18pt;
}

.playerUsername {
        margin-top: 4.5pt;
}
#p1Username {
        margin-right: 5px;
}
#p2Username {
        margin-left: 5px;
}
.playerTimer {
        padding: 0px 5px
}
#switch-container {
        width: 65px;
        height: 30px;
        background-color: #C4C4C4;
        border-radius: 30px;
        position: absolute;
        margin-left: 50%;
        transform: translate(-50%, 0);
}

#switchHandle {
        width: 24px;
        height: 24px;
        background-color: #3E7CF3;
        border-radius: 12px;
        margin-top: 3px;
        margin-left: 4px;
}

input:checked + label #switchHandle {
        transform: translateX(33px);
        background-color: var(--p2-color);
        transition: 0.1s;
}

input + label #switchHandle {
        transform: translateX(0px);
        background-color: var(--p1-color);
        transition: 0.1s;
}

#controls {
        display: flex;
        justify-content: center;
}

#controls div {
        margin: 10px 10px;
}

#underBoardUpper, #underBoardLower {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: -2px;
}

.gameButton {
        width: 70px;
        margin: auto;
        margin-top: 15px;
}

#newGame2pButton {
        display: none;
        width: 80px;
}

#soloButtons {
        display: none;
}

.piecesAvail {
        display: flex;
}
#winnerMessage {
        display: none;
        margin-top: 10pt;
        width: 100%;
        font-size: 14pt;
        text-align: center;
}

#roundControl {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
#roundControl div {
  margin: 3px;
  padding: 8px 10px;
}
.roundButton {
  background-color: #c4c4c4;
  width: 15px;
  padding: 0px 10px;
  margin: 0px 3px;
  border-radius: 2px;
}
#roundGroup {
        display: flex;
        width: 70px;
        justify-content: center;
        /*
        position: absolute;
        margin-left: 50%;
        transform: translate(-50%, 0);
        */
}
