#newGameCont h1 {
  margin-bottom: 10px;
}

.newGameButtons {
  margin-bottom: 30px;
}

.newGameButtons {
        display: flex;
}

.newGameButtons div {
        width: 100px;
        margin: 5px;
}

#newGameStartButton {
        margin-top: 10px;
        width: 50px;
        background-color: #5CB85C;
}

#newGameHead {
  display: flex;
  justify-content: space-between;
}

#usersOnline {
  width: 100%;
  text-align: right;
  margin-bottom: 3px;
}
