#rulesCont p,ol {
        margin-top: 1em;
}

#rulesCont ol {
        margin-left: 2em;
}

#tutImages {
  display: flex;
  justify-content: center;
  margin: 15px;
}
#tutImages * {
  margin: 0 10px;
}
