* {
	margin: 0; padding: 0; font-family: 'Roboto', sans-serif;
}
html {
	background-color: #E0E0E0;
}
/* Default colors, changed on load */
:root {
	--board-bg-color: #EDEDED;
	--p1-color: blue;
  --p2-color: red;
	--grid-color: gray;
}
/* Nav */
nav {
	width: 100%;
	background-color: #D2D2D2;
	display: flex;
	justify-content: space-between;
}
#navTitle {
	font-size: 18px;
	padding: 20px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#navRight {
	display: flex;
	padding-right: 15px; /* Not sure why the 15 looks more even than 10 */
}
.navLink {
	font-size: 16px;
	padding: 20px 10px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}
.navLink:hover, .button:hover, .clickable:hover {
     opacity: 0.8;
}
#navSignup {
	padding: 10px;
	margin: 10px 3px;
	background-color: #39a5b7;
	color: #282828;
	border-radius: 3px;
}
#navAccountDropdown {
	display: none;
	position: absolute;
	background-color: #f7f7f7;
	width: 150px;
	margin-top: 50px;
	right: 25px;
	border-radius: 3px;
}
.navDropdownLink {
	padding: 8px;
	display: block;
	text-decoration: none;
	color: #313131;
}
.navDropdownLink:hover {
	background-color: #2667ff;
}

footer {
	padding: 20px;
	position: absolute;
	bottom: 0;
}
footer a {
	padding: 0 10px;
	text-decoration: none;
	color: black;
}
footer a:hover {
	color: #424242;
}
.centeredCont {
	margin: auto;
	margin-top: 10px;
	padding: 15px;
	max-width: 800px;
}
.page {
	display: none;
}
.clickable {
	cursor: pointer;
	user-select: none;
}
.button {
	background-color: #C4C4C4;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	min-width: 60px;
	user-select: none;
}
.smallCont {
	margin-top: 30px;
	max-width: 430px;
}
