#signupCont, #loginCont {
  margin: auto;
  margin-top: 50px;
  width: 240px;
  background-color: lightgrey;
  padding: 50px;
  border-radius: 5px;
}
#signupSubmitButton {
  margin-top: 10px;
  width: 50px;
  background-color: #c4c4c4;
}
#loginSubmitButton {
  margin-top: 10px;
  width: 50px;
  background-color: #c4c4c4;
}
.authGroup {
  margin: 10px 0;
}
.authInput {
  margin: 2px 0;
  border-radius: 3px;
  border: 1px grey solid;
  padding: 2px;
  font-size: 12pt;
  width: 230px;
}
#loginSubmitButton, #signupSubmitButton {
  font-size: 12pt;
  width: 90px;
}
.authMessage {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 1em;
  width: 100%;
  text-align: center;
  color: #c10000;
  font-size: 11pt;
}
