#signupSubmitButton {
        margin-top: 10px;
        width: 50px;
        background-color: #c4c4c4;
}

#loginSubmitButton {
        margin-top: 10px;
        width: 50px;
        background-color: #c4c4c4;
}
