div#gamePage.page
  div#gameContainer
    div#roundControl
      img(src='/img/roundMax.svg')#roundMinusMax.roundButton.clickable.flipHoriz
      img(src='/img/roundOne.svg')#roundMinusOne.roundButton.clickable.flipHoriz
      img(src='/img/roundHalf.svg')#roundMinusHalf.roundButton.clickable.flipHoriz
      div#roundGroup
        p Round:
        p#roundCounter 0
      img(src='/img/roundHalf.svg')#roundPlusHalf.roundButton.clickable
      img(src='/img/roundOne.svg')#roundPlusOne.roundButton.clickable
      img(src='/img/roundMax.svg')#roundPlusMax.roundButton.clickable
    div#gameBoard
    div#underBoard
      div#underBoardUpper
        div#p1PiecesAvail.piecesAvail
        div#p2PiecesAvail.piecesAvail
      div#underBoardLower
        div.playerGroup
          p#p1Username.playerUsername Player 1
          p#p1Score.playerScore 0
          p#p1Timer.playerTimer 0:00
        div#switch-container
          input#switch(type='checkbox' style='display:none' onclick='return false;')
          label(for='switch')
            div#switchHandle
        div.playerGroup
          p#p2Timer.playerTimer 0:00
          p#p2Score.playerScore 0
          p#p2Username.playerUsername Player 2
      p#winnerMessage
      div#local2pButtons
        div#forfeitButton.button.gameButton Forfeit
        div#submitMoveButton.button.gameButton Submit
        div#drawButton.button.gameButton Draw
      div#newGame2pButton.button.gameButton New Game
      div#soloButtons
        div#resetGameButton.button.gameButton Reset
        div#startStopButton.button.gameButton Start
        div#nextButton.button.gameButton Next
