div#loginPage.page
  div#loginCont.centeredCont.smallCont
    h1 Login
    form.authForm
      div.authGroup
        p Email/Username
        input#loginEmailUsername.authInput(type="text")
      div.authGroup
        p Password
        input#loginPassword.authInput(type="password")
      p#loginMessage.authMessage
      input(type='submit' value='Submit')#loginSubmitButton.button
