div#loginPage.page
  div#loginCont.centeredCont.smallCont
    h1 Login
    div#formCont
      p Email/Username
      input#loginEmailUsername(type="text")
      p Password
      input#loginPassword(type="password")
      div#loginSubmitButton.button Submit
