div#newGamePage.page
  div#newGameCont.centeredCont.smallCont
    h1 New Game
    p Game type:
    div.newGameButtons
      div#gt_online.button Online Duel
      div#gt_local.button Local Duel
      div#gt_solo.button Practice
    p Board size:
    div.newGameButtons
      div#bs_15.button 15x15
      div#bs_25.button 25x25
      div#bs_40.button 40x40
    div#newGameStartButton.button Start
