div#newGamePage.page
  div#newGameCont.centeredCont.smallCont
    h1 New Game
    p#usersOnline 0 users online
    p Game type:
    div.newGameButtons
      div#gt_online.button.ngButton Online Duel
      div#gt_local.button.ngButton Local Duel
      div#gt_solo.button.ngButton Practice
    p Board size:
    div.newGameButtons
      div#bs_15.button.ngButton 15x15
      div#bs_25.button.ngButton 25x25
      div#bs_40.button.ngButton 40x40
    div#newGameStartButton.button Start
