div#settingsPage.page
  div.centeredCont
    h1 Settings
    form#settingsColors.settingsGroup
      h2 Colors
      div.settingsColorGroup
        label Board background color:
        input#settingsColorPickerBoardBg(type='color')
        input#settingsColorTextBoardBg(type='text')
      div.settingsColorGroup
        label Player 1 cell color:
        input#settingsColorPickerP1(type='color')
        input#settingsColorTextP1(type='text')
      div.settingsColorGroup
        label Player 2 cell color:
        input#settingsColorPickerP2(type='color')
        input#settingsColorTextP2(type='text')
      div.settingsColorGroup
        label Cell border/grid color:
        input#settingsColorPickerGrid(type='color')
        input#settingsColorTextGrid(type='text')
      input#settingsColorSubmit.button(type='submit' value='Submit')
      p#settingsColorStatus
