div#settingsPage.page
  div.centeredCont
    h1 Settings
    form#settingsColors.settingsGroup
      h2 Colors
      div#settingsImportExportButtons
        div#settingsColorsImport.button Import
        input#settingsColorsImportFile(type='file' style='display: none;')
        div#settingsColorsExport.button Export
      div.settingsColorGroup
        label Board background color:
        input#settingsColorPicker_board-bg-color(type='color')
        input#settingsColorText_board-bg-color(type='text')
      div.settingsColorGroup
        label Player 1 cell color:
        input#settingsColorPicker_p1-color(type='color')
        input#settingsColorText_p1-color(type='text')
      div.settingsColorGroup
        label Player 2 cell color:
        input#settingsColorPicker_p2-color(type='color')
        input#settingsColorText_p2-color(type='text')
      div.settingsColorGroup
        label Cell border/grid color:
        input#settingsColorPicker_grid-color(type='color')
        input#settingsColorText_grid-color(type='text')
      div.settingsColorGroup
        label Page background color:
        input#settingsColorPicker_page-bg(type='color')
        input#settingsColorText_page-bg(type='text')
      input#settingsColorSubmit.button(type='submit' value='Submit')
      p#settingsColorStatus
