div#settingsPage.page
  div.centeredCont
    h1 Settings
    form#settingsColors.settingsGroup
      h2 Colors
      div.settingsColorGroup
        label player 1 cell color:
        input#settingsColorPickerP1(type='color')
        input#settingsColorTextP1(type='text')
      div.settingsColorGroup
        label player 2 cell color:
        input#settingsColorPickerP2(type='color')
        input#settingsColorTextP2(type='text')
      input#settingsColorSubmit.button(type='submit' value='Submit')
      p#settingsColorStatus
