div#signupPage.page
  div#signupCont.centeredCont
    h1 Sign Up
    form.authForm
      div.authGroup
        p Email
        input#signupEmail.authInput(type="text")
      div.authGroup
        p Username
        input#signupUsername.authInput(type="text")
      div.authGroup
        p Password
        input#signupPassword.authInput(type="password")
      p#signupMessage.authMessage
      input(type='submit' value='Submit')#signupSubmitButton.button
