div#signupPage.page
  div#signupCont.centeredCont.smallCont
    h1 Sign Up
    div#formCont
      p Email
      input#signupEmail(type="text")
      p Username
      input#signupUsername(type="text")
      p Password
      input#signupPassword(type="password")
      div#signupSubmitButton.button Submit
