div#signupPage.page
  div#signupCont.centeredCont
    div#authCont
      h1 Sign Up
      form.authForm
        div.authGroup
          p Email
          input#signupEmail.authInput(type="text")
        div.authGroup
          p Username
          input#signupUsername.authInput(type="text")
        div.authGroup
          p Password
          input#signupPassword.authInput(type="password")
        input(type='submit' value='Submit')#signupSubmitButton.button
