div#signupPage.page
  div#signupCont.centeredCont
    div#authCont
      div.authInner
        h1 Sign Up
        div.authGroup
          p Email
          input#signupEmail.authInput(type="text")
        div.authGroup
          p Username
          input#signupUsername.authInput(type="text")
        div.authGroup
          p Password
          input#signupPassword.authInput(type="password")
        div#signupSubmitButton.button Submit
