div#userPage.page
  div#userCont
    div#userStats.userContainers
      h2#userUsername
      div#userStatsGroup
        div#userStatsLabels
          p Rating
          p Games
          p Record
        div#userStatsValues
          p#uStatRating
          p#uStatGames
          p#uStatRecord
    div#userGames.userContainers
      h2 Games
      div#userGamesHead
        p players
        p score
        p result
        p rounds
        p date
        p view

      div#userGamesList
