div#userPage.page
  div#userCont
    div#userStats.userContainers
      h2#userUsername lukew3
      div#userStatsGroup
        div#userStatsLabels
          p Rating
          p Games
          p Record
        div#userStatsValues
          p#uStatRating 1000
          p#uStatGames 30
          p#uStatRecord 6W/3L/1T
    div#userGames.userContainers
      h2 Games
      div#userGamesHead
        p players
        p score
        p result
        p rounds
        p date
        p view

      div#userGamesList
