doctype html
html
  include head.pug
  body
    include nav.pug

    include pages/game.pug
    include pages/rules.pug
    include pages/newGame.pug
    include pages/err404.pug
    include pages/signup.pug
    include pages/login.pug
    include pages/user.pug
    include pages/settings.pug

    footer
      a(href='https://github.com/lukew3/congol') Github
      a(href='https://www.paypal.com/donate/?business=Y9LXMATAKTNBJ&no_recurring=0&item_name=Your+donation+will+help+support+the+development+of+Congol.net%2C+enabling+me+to+continue+working+on+it+and+providing+it+for+free.&currency_code=USD') Donate

    script(src='/bundle.js')
