nav
  a#navTitle.navLink(href='/') Congol
  div#navRight
    a#navPlay.navLink(href='/') Play
    a#navRules.navLink(href='/rules') Rules
    a#navLogin.navLink(href='/login') Login
    a#navSignup.navLink(href='/signup') Sign Up
    a#navLogout.navLink(href='/') Logout
    a#navAccount.navLink(href='/user') Account
