nav
  a#navTitle(href='/rules') Congol
  div#navRight
    a#navPlay(href='/rules') Play
    a#navRules(href='/rules') Rules
    a#navSignup(href='/signup') Sign Up
    a#navLogin(href='/login') Login
    a#navLogout(href='/') Logout
    a#navAccount(href='/user') Account
