doctype html
html
  head
    title Congol
    link(rel='stylesheet' type='text/css' href='styles/styles.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/x-icon' href='img/favicon.ico')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
  body
    nav
      a#navTitle(href='./index.html') Congol
      div#navRight
        a(href='./newgame.html') Play
        a(href='./rules.html') Rules
    block content
    footer
      a(href='https://github.com/lukew3/congol') Github
      a(href='https://www.paypal.com/paypalme/weilerluke') Donate
