extends layout.pug

block content
  div#newGameCont.centeredCont
    h1 New Game
    p Game type:
    div.newGameButtons
      div.button Online Duel
      div.button Local Duel
      div.button Practice
    p Board size:
    div.newGameButtons
      div.button 10x10
      div.button 25x25
      div.button 50x50
    div#newGameStartButton.button Start
