extends layout.pug

block content
  div#rulesCont
    h1 Rules
    p Congol is based off of John Conway's Game of Life. All of the original rules of Conway's Game of Life are kept in Congol. The original rules are as follows:
    ol
      li Survival: A cell surrounded by two or three cells survives for the next generation
      li Death: A cell with 4 or more neighbors dies of overpopulation. A cell with one or no neighbors dies of isolation.
      li Birth: An unoccupied square becomes a living cell if it has exactly 3 neighbors
    p To make this game playable with multiple species of cells, another rule was added:
    p(style='margin-left: 1rem') The species that contributes the most to the birth of a new cell decides the species of the new cell.
    p As the game develops, rules will be formed concerning how the game should be played, but the rules stated previously shall always apply
