extends layout.pug

block content
  div#gameBoard
  div#roundCtrCont Round:
    p#roundCounter 0
  div#controls
    div#resetButton.button Reset
    div#startStopButton.button Start
    div#nextButton.button Next
  script(src='src/bundle.js')
